[submodule "driver/ATMEGA2560"]
	path = driver/ATMEGA2560
	url = https://github.com/bassem-mostafa/TMR_ATMEGA2560.git
[submodule "driver/STM32G491MET6"]
	path = driver/STM32G491MET6
	url = https://github.com/bassem-mostafa/TMR_STM32G491MET6.git
[submodule "driver/STM32L496VGT6P"]
	path = driver/STM32L496VGT6P
	url = https://github.com/bassem-mostafa/TMR_STM32L496VGT6P.git
[submodule "port/Fares_PCB_Arduino_MEGA2560"]
	path = port/Fares_PCB_Arduino_MEGA2560
	url = https://github.com/bassem-mostafa/TMR_Fares_PCB_Arduino_MEGA2560.git
[submodule "port/Stub"]
	path = port/Stub
	url = https://github.com/bassem-mostafa/TMR_Stub.git
[submodule "port/Flow_Meter"]
	path = port/Flow_Meter
	url = https://github.com/bassem-mostafa/TMR_Flow_Meter.git
